#tetraWrap {
  perspective: 1000px;
  perspective-origin: 50% 50%;
  position: absolute;
  top: 100px;
}

#tetraWrap #tetra {
  height: 173px;
  width: 200px;
  transform-style: preserve-3d;
}

#tetra > * {
  position: absolute;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 173px solid black;
  opacity: 0.2;
}

/*#tetra {
  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 5s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg) rotateX(-20deg);
  }
  to {
    -webkit-transform: rotateY(360deg) rotateX(-20deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotateY(0deg) rotateX(-20deg);
  }
  to {
    -moz-transform: rotateY(360deg) rotateX(-20deg);
  }
}*/

#tetraFront {
  /*-webkit-transform: rotateY(-20deg);
  -moz-transform: rotateY(-20deg);*/
  /*transform: translateZ(173px);*/
  transform: rotateX(30deg);
  /*animation: spin 5s linear infinite;*/

}

/*@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}*/

#tetraLeft {
  /*transform: rotateY(100deg) translateZ(100px);*/
  /*-webkit-transform: rotateY(90deg) rotateZ(60deg);*/
  /*-moz-transform: rotateY(90deg) rotateZ(60deg);*/
  transform: rotateY(-60deg);
}

/*#tetra > div:nth-child(3) {
  -webkit-transform: rotateX(60deg) rotateY(19.5deg);
  -moz-transform: rotateX(60deg) rotateY(19.5deg);
}

#tetra > div:nth-child(4) {
  -webkit-transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px);
  -webkit-transform-origin: 0 0 -326px;
  -moz-transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px);
  -moz-transform-origin: 0 0 -326px;
}*/

#tetraWrap #tetra {
  animation: rotate 20s infinite linear;
}

@keyframes rotate {
  from { transform: rotateX(0deg) rotateY(0deg); }
  to { transform: rotateX(360deg) rotateY(360deg); }
}
