#tetraWrap {
  perspective: 1000px;
  perspective-origin: 50% 50%;
  position: absolute;
  top: 110px;
}

#tetraWrap #tetra {
  height: 173px;
  width: 200px;
  transform-style: preserve-3d;
}

#tetra > * {
  position: absolute;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 173px solid blue;
}

#tetraFront {
  transform-origin: 50% 100%;
  transform: rotate(180deg) rotateX(-109.5deg);
  border-bottom: 173px solid red;
}


#tetraLeft {
  transform-origin: 0% 100%;
  transform: rotate(-60deg) rotateX(-109.5deg);
  border-bottom: 173px solid orange;
}

#tetraRight {
  transform-origin: 100% 100%;
  transform: rotate(60deg) rotateX(-109.5deg);
  border-bottom: 173px solid green;
}

#tetraWrap #tetra {
  animation: rotate 10s infinite linear;
}

@keyframes rotate {
  from { transform: rotateY(0deg) rotateZ(0deg)}
  to { transform: rotateY(360deg) rotateZ(360deg)}
}
